extends ../../blocks/layout/layout
include ../../blocks/header/header
include ../../blocks/sidebar/sidebar
include ../../blocks/experience/experience
include ../../blocks/education/education
include ../../blocks/skills/skills

block content
    main(class="main")
        +sidebar({ description, socialLinks, education })(class="main__sidebar")
        div(class="main__content")
            +header({name: "Olga Polikashina", profession: "Frontend Developer"})
            +skills(skills)
            +experience(experience)
            +education(education)
        