@import "../../../styles/variables.scss";

.skills {
    overflow: hidden;

    &__title {
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        padding: 6px 8px;
        border-radius: 4px;
        background-color: $color-grey;
        margin-bottom: 10px;
        font-size: 15px;

        &:not(:last-of-type) {
            margin-right: 10px;
        }
    }
}

@media (min-width: $phone) {
    .skills {
        &__item {
            padding: 8px 10px;
            border-radius: 5px;
            font-size: 16px;
        }
    }
}